---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}{% if page.subtitle %}: <small>{{ page.subtitle }}</small>{% endif %}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    {% if page.image %}<figure><img src="{{ page.image }}"></figure>{% endif %}
  </header>

  <article class="post-content">
    {{ content }}
  </article>

</div>
